.banner {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  justify-content: center;
  padding-bottom: 10%;
  background-color: #222;
}

.banner-content {
  display: inline-flex;
  animation: scrollBanner 30s linear infinite;
  gap: 10px;
}

.icon-container {
  padding: 8px;
  border-radius: 4px;
  display: gird;
  place-items: center;
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}

@keyframes scrollBanner {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(-171%);
  }
}
